# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
data/*
!data/.gitkeep
*.csv
*.pkl

# Models
models/*
!models/.gitkeep
*.h5

# Results
results/*
!results/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Experiments
archived_experiments/*
!archived_experiments/.gitkeep
